Package: com.kjutzn.tipsgottrolled
Name: TipsGotTrolled
Depends: com.spark.snowboard
Version: 1.0
Architecture: iphoneos-arm64
Description: Ever wanted your tips to get trolled? Now you can troll them!
Maintainer: kjutzn
Author: kjutzn
Section: Themes
